
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primaryColor: #36393f;
  --btnPrimaryColor: #2b64f7;
  --btnSecondaryColor: #fc7e9c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Lato", sans-serif; */
  background-color: var(--primaryColor);
  height:100vh;
  width: 100vw;
}

@tailwind base;
@tailwind components;
@tailwind utilities;